---

---
<div>
    <h1 id="example">Example Comp with script</h1>
</div>
<script>
    const el = document.getElementById('example');

    if (el) {
        el.innerHTML = 'Script is run!'
    }
</script>